<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caesar</title>
</head>

<body>
    <section class="page">
        <div class="page__container">

            <header class="header">
                <h1 class="header__logo">Caesar cipher</h1>
                <div class="header__menu">
                    <h2 class="menu_lang"></h2>
                    <div class="menudown">
                        <button class="menubtn"></button>
                    </div>
                </div>


            </header>
            <div id="menudown" class="menudown-content">
            </div>

        </div>
        <div class="logo">
            <img class="logo__image" src="<%= require('./images/logo.png') %>" alt="Logo">
        </div>

        <section class="section__blocks">


            <div class="block">
                <div class="block__shif">
                    <div class="block__name">

                        <input type="number" class="step-chose" min="1" max="99" value="0">

                        <h1 id="title__shif" class="title__shif"></h1>

                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div id="dropdown" class="dropdown-content">
                                <button class="encryptButton"></a>
                                    <button class="decryptButton"></a>
                            </div>
                        </div>
                    </div>
                    <textarea placeholder="Напишите сообщение..." class="input__block_shif"></textarea>
                </div>
                <div class="block__button_shif"><button class="button__start"></button></div>
            </div>

            <div class="block">
                <div class="block__deshif">
                    <div class="block__name"></div>
                    <textarea id="input__block_deshif" placeholder="" class="input__block_deshif" readonly></textarea>
                </div>
                <div class="block__button_deshif"><button class="button__copy"></button></div>
            </div>



        </section>
    </section>


    <div class="modal modal-one">
        <div class="modal__content">
            <h2 class="modal__content_title"></h2>
            <p class="modal__content_text"></p>
            <img class="modal__character_image" src="<%= require('./images/caesar.png') %>">
            <button class="modal__next-button"></button>
            <button class="modal__skip-button"></button>
        </div>
    </div>

    <div class="modal modal-two">
        <div class="modal__content text_only">
            <p class="modal__content_text_only"></p>
            <button class="modal__next-button"></button>
            <button class="modal__skip-button"></button>
        </div>
    </div>

    <div class="modal modal-three">
        <div class="modal__content text_only">
            <p class="modal__content_text_only"></p>
            <button class="modal__next-button"></button>
            <button class="modal__skip-button"></button>
        </div>
    </div>

    <div class="modal modal-four">
        <div class="modal__content text_only">
            <h2 class="modal__content_title"></h2>
            <p class="modal__content_text_only"></p>
            <button class="modal__next-button"></button>
            <button class="modal__skip-button"></button>
        </div>
    </div>

    <div class="modal modal-five">
        <div class="modal__content text_only">
            <p class="modal__content_text_only"></p>
            <button class="modal__next-button"></button>
            <button class="modal__skip-button"></button>
        </div>
    </div>


    <div class="modal modal-six">
        <div class="modal__content text_only">
            <h2 class="modal__content_title"></h2>
            <p class="modal__content_text_only"></p>
            <button class="modal__next-button"></button>
            <button class="modal__skip-button"></button>
        </div>
    </div>

    <div class="modal modal-seven">
        <div class="modal__content text_only">
            <h2 class="modal__content_title"></h2>
            <p class="modal__content_text_only"></p>
            <button class="modal__finish-button"></button>
            <button class="modal__skip-button"></button>
        </div>
    </div>







    <div class="add-lang">
        <div class="add-lang__container">
            <button class="close-button"></button>
            <h2 class="modal__content_title"></h2>
            <input class="add-lang__file" type="file">
            <p class="modal__content_text_only"></p>
        </div>
    </div>


    <div class="modal modal-alert">
        <div class="modal__content_alert text_only">
            <h2 class="modal__content_title"></h2>
            <p class="modal__content_text_only"></p>
            <button class="modal__close-button"></button>
        </div>
    </div>

    <script type="module" src="./index.js"></script>
</body>

</html>