.block__shif {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #c6814f;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;

}

.title__shif {
    color: rgb(128 45 45);
    margin: auto;
    font-family: "Courier New", Courier, monospace;
    font-family: Georgia, serif;
    font-size: 21px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;

}


@media screen and (min-width:320px) and (max-width:850px) {
    .block__shif {
        width: 100%;
    }
}